<div class="card filters">
    <div class="card-header">
        <strong>Filters</strong>
    </div>
    <div class="card-body">
        <form>
           <div class="form-group">
            <label for="from">Search</label>
            <input type="text" class="form-control" ng-model="search" name="search">
           </div>
               
              
    
     <button  type="submit" class= "btn btn-primary btn-block"(click)="getFilter()">Filter by Name</button>
        </form>
    </div>
</div>

