
<div class="row">
    <div class="col-4 "></div>
        <div class="col-4">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Login Here</h2>
                </div>
                <div class="card-body">
                    <form>
                       
                        <div class="mb-3">
                          <label for="" class="form-label">Username</label>
                          <input type="text" class="form-control"[(ngModel)]="username" name="username" id="" >
                          
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Password</label>
                          <input type="password" class="form-control"[(ngModel)]="password" name="password"  id="">
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-block" (click)="login()">Submit</button>
                      </form>
                </div>
            </div>
           
        </div>
        <div class="col-4"></div>
        
    
</div>
